<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Proto</directory>
        </exclude>
    </source>
    <php>
        <env name="WEAVIATE_HOST" value="localhost" force="false"/>
        <env name="WEAVIATE_HTTP_PORT" value="8080" force="false"/>
        <env name="WEAVIATE_GRPC_PORT" value="50051" force="false"/>
    </php>
</phpunit>
